---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

{% include base_path %}


{% for post in site.research %}
  {% include portfolio-1.html %}
{% endfor %}

I am now working on with Prof. Song in Machine Learning Lab at CODA as an Undergraduate Reseach Assistant. We are now doing the VQA problem and the link of VQA is that
<a href="https://visualqa.org">https://visualqa.org/</a>
and my supervisor is 
<a href="http://wyliu.com/index.html">Weiyang Liu</a>
<img src="https://s2.ax1x.com/2019/11/06/M9LUOg.jpg" alt="M9LUOg.jpg" border="0" />