
<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">About Me</span></h1>
        </div>
    </div>
    <div class="row">
        <!-- avatar -->
        {% for icon in site.author.skill_icon1 %}
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.avatar | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.author.first_name }}</span> {{ site.author.last_name }}</h4>
                <ul class="list-inline social-icon">
                    {% if site.author.github_username %}
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github-alt"></i></a></li>
                    {% endif %}
                    {% if site.author.linkedin_id %}
                    <li><a href="https://www.linkedin.com/in/{{ site.author.linkedin_id }}" target="blank"><i class="fa fa-linkedin"></i></a></li>
                    {% endif %}
                    {% if site.author.facebook_username %}
                    <li><a href="https://www.facebook.com/profile.php?id=100010607108858" target="blank"><i class="fa fa-facebook"></i></a></li>
                    {% endif %}
                    {% if site.author.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.author.twitter_username }}" target="blank"><i class="fa fa-twitter"></i></a></li>
                    {% endif %}
                    {% if site.author.email %}
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a></li>
                    {% endif %}
                    {% if site.author.phone %}
                    <li><a href="tel:{{ site.author.phone }}" target="blank"><i class="fa fa-mobile" aria-hidden="true"></i></a></li>
                    {% endif %}
                    {% if site.author.instagram %}
                    <li><a href="https://www.instagram.com/{{ site.author.instagram }}" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    {% endif %}
                    {% if site.author.cv %}
                    <li><a href="{{ site.author.cv }}" target="blank"><i class="fa fa-file-pdf-o"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- second two icons -->
        {% for icon in site.author.skill_icon2 %}
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align: center">
                    <i class="fa {{ icon.name }}"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        today = new Date()
        past = new Date(2022,09,20) // remember this is equivalent to 06 01 2010
        //dates in js are counted from 0, so 05 is june
        
        function calcDate(date1,date2) {
            var diff = Math.floor(date1.getTime() - date2.getTime());
            var day = 1000 * 60 * 60 * 24;
        
            var days = Math.floor(diff/day);
            var months = Math.floor(days/31);
            var years = Math.floor(months/12) + 1;
            
            var message = years;
            // var message = date2.toDateString();
            // message += " was "
            // message += days + " days " 
            // message += months + " months "
            // message += years + " years ago \n"
        
            return message
            }
        var time = calcDate(today, past)

        </script>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
            <p style="color:black;">I am a second-year Ph.D. student in the <a href="https://www.mccormick.northwestern.edu/computer-science/">Computer Science</a> department at <a href="https://www.northwestern.edu/">Northwestern University</a>, advised by Professor <a href="https://www.mccormick.northwestern.edu/research-faculty/directory/profiles/liu-han.html">Han Liu</a> in MAGICS lab.</p>
            <p style="color:black;"> My primary research interest lies in the intersection between Machine Learning, Health care and Natural Language.</p>
            <p style="color:black;">Topics I am currently working on (Machine/Deep Learning):
                <ul>
                  <li>Large Foundation Models</li>
                  <li>Memory Retrieval and Memory Enhanced Foundation Models</li>
                  <li>Modern Hopfield Network</li>
                  <li>Hyperparameter Optimization</li>
                </ul>
            </p>
            <p style="color:black;">Topics I had worked on in the past (Before my PhD study): 
                <ul>
                  <li>Multimodality includes Video Question Answering and Visual Question Answering</li>
                  <li>Humman Robotic Interation</li>
                  <li>Reinforcment Learning</li>
                  <li>Natural Language Understanding</li>
                  <li>Question Answering</li>
                    
                </ul>
            </p>
           
            
           
        <p style="color:black;"> Besides the school and research work, I have found my interests in lots of things over time including photography, hiking and traveling.</p> 
        </div>
           
    </div>
</div>
