<div class="container" id="i18_reward">
  <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1><span data-i18n="reward.reward">Reward & Patent</span></h1>
      </div>
      <center>
        <h2>Patents</h2>
        <ul>
        <li><p><b>Movable infusion stand (201120560457X) </b><br />
        <i>Robin Luo<br />
        December 2013 in Hangzhou</p>
        </li>
        </ul>

        <h2>Other</h2>
        <ul>
        None
        </li>
        </ul>
      </center>
</div>