<div class="container" id="i18_news">
  <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1><span data-i18n="news.my_news">Collaborators</span></h1>
      </div>
  </div>
  <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
  <b style='color:orange !important;'>[Prospective Ph.D. Applicants for Fall 2023]</b>
  </div>
  <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
  <p> <b></b><a href="https://chenwei-1999.github.io/">Chenwei Xu</a></b> (<a href="cxu@u.northwestern.edu">cxu@u.northwestern.edu</a>), 2nd-yr MSCS at Northwestern University, supervised by Prof. <a href="https://www.mccormick.northwestern.edu/research-faculty/directory/profiles/liu-han.html">Han Liu</a></p>
  <ul>
    <li>Feature Programming for Multivariate Time Series Prediction (ICML 2023)</li>
    <li>On Sparse Modern Hopfield Model (Neurips 2023)</li>
  </ul>
  </div>

  <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
  <p><b>Collaborators:</b> </p> Chenwei Xu (NU), Jerry Yao-Chieh Hu (NU), Weijian Li (NU), Ye Guo (NU), Mei Di (NU), Weiyang Liu (University of Cambridge), Mengyang Liu (Microsoft), Zelin Zhao (Caltech), Binghong Chen (GIT), Yinghao Li (GIT), Ruiyang Qin (Notre Dame) </p>
  <p><b>Advising:</b></p> Hong-Yu Chen (M.S. at NTU, Prospective Ph.D. at NU), Mingyu Jin (M.S. at NU), Jingyu Elaine Wu (B.S. at HKUST, now M.S. at NU), Shaopeng Frank Gu (B.S. at NU)</p>
  </div>
  <script>
  function openNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "280px";
          document.getElementById("layout-content-container").style.marginLeft = "280.8px";
          document.getElementById("layout-content-container").style.position = "fixed";
      }
  }
  function closeNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "0";
          document.getElementById("layout-content-container").style.position = "static";
          document.getElementById("layout-content-container").style.marginLeft = "0px";
          setInterval(
              function(){ location.reload() },
              500
          );
      }
  }
  </script>
</div>
<br>

