<div class="container" id="i18_miscellaneous">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="miscellaneous.my_miscellaneous">Miscellaneous</span></h1>
        </div>
    </div>
    <h2>30-30 Project</h2>
<p>Hopefully, before I turn 30 years old, I can:</p>
<ul>
<li><p><b>Visit 30 countries / regions</b> (7/30)<br />
🇨🇳China, 🇭🇰Hong Kong, 🇯🇵Japan,  🇺🇸United States, 🇨🇦Canada, 🇻🇳Vietnam, 🇸🇬Singapore.<br />
</p>
</li>
<li><p><b>Visit 30 provinces in China</b> (13/30)</font><br />
Beijing, Zhejiang, Fujian, Hainan, Guangdong, Jiangshu
Heilongjiang, Tianjin, Hong Kong, Shandong, Anhui, Shanxi,
Shanghai.</p>
</li>
<li><p><b>Visit 30 states in the US</b> <span style="color:red">(35/30)</span><br />
❄️AK, 🌉CA, 🏂 CO, 📃 CT, 🐼DC, 1⃣ DE, 🍊 FL, 🍑 GA, 🌋HI, 💨IL, 🏁IN, 🚜IA, 🏇KY, 🔮MA, 🐢MD, 🌲ME, 🚘MI, ♈ MO, 🌟MN, ✈ NC, 🐍 NH, 💡NJ, 🏜️NV, 🗽NY, 🏈 OH, 🌹 OR, 🔔 PA, 🌊 RI,  🌴 SC,  🎸 TN, 🗼TX, 🚬 VA, 🍺WI, ☔WA, 🗻 WV.</p>
</li>
<li><p><b>Visit 30 National Parks in the US</b> (15/30)<br />
  Indiana Dunes NP, Yosemite NP, Mount Rainier NP, North Cascades NP, Olympic NP, Great Smoky Mountains NP, Gateway Arch NP, Rocky Mountain NP, Mammoth Cave NP, Congaree NP, New River Gorge NP, Shenandoah NP, Crater Lake NP, Redwood NSP, Acadia NP </p>
    </li>
<li><p><b>Visit 30 Other National Parks Services in the US</b> <span style="color:red">(51/30)</span><br />
    Boston NHP, Manhattan Project NHP, Harpers Ferry NHP, First State NHP,  Minute Man NHP, Independence NHP,  Lewis & Clark NHP, San Francisco Maritime NHP, Hopewell Culture NHP,  Golden Gate NRA, Ross Lake NRA, Lake Chelan NRA, Big South Fork NRNA, Gauley River NRA, Herbert Hoover NHS, Edgar Allan Poe NHS, Gloria Dei Church NHS, Lincoln Home NHS, Ulysses S. Grant NHS,  Boston African American NHS, Fort Point NHS, Saugus Iron Works NHS, Salem Maritime NHS, Statue of Liberty NM, Fort Pulaski NM, Muir Woods NM, Fort Mchenry NM, Florissant Fossil Beds NM, Lewis & Clark NHT, Washington-Rochambeau Revolutionary Route NHT, Star-Spangled Banner NHT, Juan Bautista de Anza NHT,  Sleeping Bear Dunes NL, Ice Age NST, Appalachian NST, Point Reyes NS, Obed WSR, Bluestone NSR, Korean War Veterans Memorial, Lincoln Memorial, Pullman Memorial, Pearl Harbor Memorial,  Vietnam Veterans Memorial, White House,   Alcatraz Island, Presidio of San Francisco, Washington Monument, World War II Memorial,
    Wing Luke Museum Affiliated Area,  Blue Ridge Parkway, Baltimore-Washington Parkway </p>
    </li>
<li><p><b>Visit 30 Airpots</b> <span style="color:red">(44/30)</span><br />
KORD, KJFK, ZSHC, ZSPD, KATL, KDTW, ZYHB, ZBTJ, ZBAA, ZJSY, ZLXY, KLAX, KSFO, KLEX, KEWR, KLGA, VHHH, KMIA, KSJC, KMCO, KMSP, KLAN, KDFW, KDEN, ZSAM, KIAH, KAUS, KBWI, KDCA, KSEA, KCID, KSLC, KLAS, KHNL, KIAD, KBRL, ZGGG, ZGSZ, VVTS, ZSYT, KBOS, KPDX, CYVR  </p>
</li>
<li><p><b>Take flights with 30 Airplane Companies</b> <font color=red>(18/30)</font><br />
HU, CA, DL, AA, UA, CZ, MU, JD, CX, MF, KA, F9, NK, WN, AS, AC, 9K, NK </p>
</li>
<li><p><b>Finish 300,000 kilometers flight by air</b> (261,491/300,000)</p>

    <script>
    function openNav() {
        if (window.innerWidth <= 1200) {
            document.getElementById("layout-menu").style.width = "280px";
            document.getElementById("layout-content-container").style.marginLeft = "280.8px";
            document.getElementById("layout-content-container").style.position = "fixed";
        }
    }
    function closeNav() {
        if (window.innerWidth <= 1200) {
            document.getElementById("layout-menu").style.width = "0";
            document.getElementById("layout-content-container").style.position = "static";
            document.getElementById("layout-content-container").style.marginLeft = "0px";
            setInterval(
                function(){ location.reload() },
                500
            );
        }
    }
    </script>
</div>
<br>
