<div class="container" id="i18_news">
  <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1><span data-i18n="news.my_news">News</span></h1>
      </div>
  </div>
  
  <ul>
    <li><p><b>2025.11:</b> Honored to receive the Lambda's <a href='https://lambda.ai/research'>Research Grant Program:$2000.</a></p></li>
    <li><p><b>2025.11:</b> I have been selected as a <a href="https://www.daad.de/en/the-daad/postdocnet/details-and-application/">DAAD AINeT Fellow</a> for the Postdoc-NeT-AI 11/2025 program on Explainable AI. Grateful for the support from the Federal Ministry of Research in Germany. </p></li>
    <li><p><b>2025.9:</b> I am serving as a TA for CS348 and CS450.</p></li>
    <li><p><b>2025.9:</b> Our paper <a href="https://www.arxiv.org/abs/2509.23115">RHYTHM: Reasoning with Hierarchical Temporal Tokenization for Human Mobility</a> has been accepted by NeurIPS 2025.</p></li>
    <li><p><b>2025.7:</b> Our workshop paper <a href="https://arxiv.org/abs/2208.10241">SciAnnotate: A Tool for Combining Weak Labeling Sources for Sequence Labeling</a> has been accepted by NewInML@ICML 2025.</p></li>
    <li><p><b>2025.7:</b> Our workshop papers <a href="https://openreview.net/forum?id=i3JYPgwwAj">Outlier-Free Genomic Foundation Models for Resource-Efficient Training and Low-Bit Inference</a> and <a href="https://openreview.net/forum?id=DCvCv02uNf">Efficient Temporal Tokenization for Mobility Prediction with Large Language Models</a> have been accepted by ES-FoMo@ICML 2025.</p></li>
    <li><p><b>2025.6:</b> Our workshop paper <a href="https://openreview.net/forum?id=p5zaXPgMvh">Knowledge‑Distilled Memory Editing for Plug‑and‑Play LLM Alignment</a> has been accepted by MemFM@ICML 2025.</p></li>
    <li><p><b>2025.6:</b> Our paper <a href="https://www.usenix.org/system/files/usenixsecurity25-yu-jiahao.pdf">Mind the Inconspicuous: Revealing the Hidden Weakness in Aligned LLMs’ Ethical Boundaries</a> has been accepted by USENIX Security 2025.</p></li>
    <li><p><b>2025.5:</b> Our paper <a href="https://www.sciencedirect.com/science/article/abs/pii/S0306437925000547?casa_token=lmT7m8-i3KwAAAAA:6Y20g4ZMUHBxqfi5Zjo5MZRC-NlXuGDTptrWV7vP6kXXGRB2lKdFwcBpVcntruaIMXuxB7sbCJE">SMUTF: Schema Matching Using Generative Tags and Hybrid Features</a> has been accepted by Information Systems.</p></li>
    <li><p><b>2025.5:</b> Our paper <a href="https://openreview.net/forum?id=oyUiJmkD7H">Fast and Low-Cost Genomic Foundation Models via Outlier Removal</a> has been accepted by ICML 2025.</p></li>
    <li><p><b>2025.3:</b> This summer, I will be interning at RTX as an LLM Research Scientist.</p></li>
    <li><p><b>2025.1:</b> Our paper <a href="https://openreview.net/forum?id=1BdPHbuimc">Chain-of-Action: Faithful and Multimodal Question Answering through Large Language Models</a> has been accepted by ICLR 2025.</p></li>
    <li><p><b>2025.1:</b> I am serving as a TA for CS368.</p></li>
    <li><p><b>2025.1:</b> I received $1,000 in research funding from the OpenAI Research Access Program.</p></li>
    <li><p><b>2024.9:</b> I am serving as a Research Assistant in <a href="https://www.dashunwang.com/group">Dashun's Lab</a>.</p></li>
    <li><p><b>2024.10:</b> Our workshop paper, <a href="https://dl.acm.org/doi/10.1145/3681771.3699910">ST-MoE-BERT: A Spatial-Temporal Mixture-of-Experts Framework for Long-Term Cross-City Mobility Prediction</a>, has been accepted by the 2nd ACM SIGSPATIAL International Workshop on the Human Mobility Prediction Challenge, where we achieved the <b>top 1</b> DTW score.</p></li>
    <li><p><b>2024.7:</b> Our workshop papers <a href="https://openreview.net/forum?id=kLiDMGJKx1">Outlier-Efficient Hopfield Layers for Large Transformer-Based Models</a> and <a href="https://openreview.net/forum?id=kZBM2UYiQh">Fast Adaptation and Robust Quantization of Multi-Modal Foundation Models from Associative Memory: A Case Study in SpeechLM</a> have been accepted by ES-FoMo@ICML 2024.</p></li>
    <li><p><b>2024.5:</b> Our paper <a href="https://openreview.net/forum?id=ZCrRCICOkr">OutEffHop: A Principled Outlier-Efficient Attention Layer from Dense Associative Memory Models</a> has been accepted by ICML 2024.</p></li>
    <li><p><b>2024.4:</b> I received $5,000 in research funding from the OpenAI Research Access Program.</p></li>
    <li><p><b>2023.6:</b> I served as a Program Committee (PC) member for the industry track of EMNLP 2023.</p></li>
    <li><p><b>2023.4:</b> Our conference paper <a href="https://ieeexplore.ieee.org/abstract/document/10309342">Open-Ended Multi-Modal Relational Reasoning for Video Question Answering</a> was accepted by RO-MAN 2023.</p></li>
    <li><p><b>2022.10:</b> Our conference paper <a href="https://ieeexplore.ieee.org/abstract/document/10069446">IGN: Implicit Generative Networks</a> was accepted by ICMLA 2022.</p></li>
    <li><p><b>2022.9:</b> I started my Ph.D. studies at Northwestern University!</p></li>
</ul>

  <script>
  function openNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "280px";
          document.getElementById("layout-content-container").style.marginLeft = "280.8px";
          document.getElementById("layout-content-container").style.position = "fixed";
      }
  }
  function closeNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "0";
          document.getElementById("layout-content-container").style.position = "static";
          document.getElementById("layout-content-container").style.marginLeft = "0px";
          setInterval(
              function(){ location.reload() },
              500
          );
      }
  }
  </script>
</div>
<br>
