<div class="container" id="i18_news">
  <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1><span data-i18n="news.my_news">News</span></h1>
      </div>
  </div>
  
  <ul>
    <li><p> <b>2025.1:</b> Our paper <a href="https://openreview.net/forum?id=1BdPHbuimc">Chain-of-Action: Faithful and Multimodal Question Answering through Large Language Models
</a>  is accepted by ICLR'2025 </p>
    <li><p> <b>2025.1:</b> I serve as TA in CS368. </li>
     <li><p> <b>2025.1:</b> I received $5000 in research funding from the OpenAI Research Access Program. </li>
    <li><p> <b>2024.9:</b> I serve as Research Assistant in <a href="https://www.dashunwang.com/group">Dashun's Lab</a>. </li>
    <li><p> <b>2024.10:</b> Our workshop paper, <a href="https://arxiv.org/abs/2410.14099v1">ST-MoE-BERT: A Spatial-Temporal Mixture-of-Experts Framework for Long-Term Cross-City Mobility Prediction</a>, has been accepted by the 2nd ACM SIGSPATIAL International Workshop on the Human Mobility Prediction Challenge, where we achieved the <b>top 1</b> DTW score.
  </p>
</li>
     <li><p> <b>2024.7:</b> Our workshop paper <a href="https://openreview.net/forum?id=kLiDMGJKx1">Outlier-Efficient Hopfield Layers for Large Transformer-Based Models
</a> and <a href="https://openreview.net/forum?id=kZBM2UYiQh">Fast Adaptation and Robust Quantization of Multi-Modal Foundation Models from Associative Memory: A Case Study in SpeechLM</a> are accepted by ICML ES-FoMo'2024. </p>
  </li>
    <li><p> <b>2024.5:</b> Our paper <a href="https://openreview.net/forum?id=ZCrRCICOkr">OutEffHop: A Principled Outlier-Efficient Attention Layer from Dense Associative Memory Models
</a>  is accepted by ICML'2024. </p>
  </li>
    <li><p> <b>2024.4:</b> I received $5000 in research funding from the OpenAI Research Access Program. </li>
    <li><p> <b>2023.6:</b> I hold a PC role in the industry track of EMNLP 2023. </p>
  <li><p> <b>2023.4:</b> A conference paper <a href="https://arxiv.org/abs/2012.00822">"Open-Ended Multi-Modal Relational Reason for Video Question Answering
"</a> is accepted by RO-MAN 2023.</p>
  </li>
  <li><p> <b>2022.10:</b>
    A conference paper <a href="https://ieeexplore.ieee.org/abstract/document/10069446">"IGN : Implicit Generative Networks"</a> is accepted by ICMLA 2022.
  </p>
  </li>
  <li><p> <b>2022.9:</b>
    I start my PhD study in Northwestern University!
  </p>
  </li>
  </ul>
  <script>
  function openNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "280px";
          document.getElementById("layout-content-container").style.marginLeft = "280.8px";
          document.getElementById("layout-content-container").style.position = "fixed";
      }
  }
  function closeNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "0";
          document.getElementById("layout-content-container").style.position = "static";
          document.getElementById("layout-content-container").style.marginLeft = "0px";
          setInterval(
              function(){ location.reload() },
              500
          );
      }
  }
  </script>
</div>
<br>
