<div class="container" id="i18_publication">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="publication.my_publication">Publication</span></h1>
        </div>
    </div>
    <body>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr onmouseout="lssr_stop()" onmouseover="lssr_start()" bgcolor="#ffffd0">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="two" id='lssr_image'>
                  <img src='images/go.png' width="160"></div>
                <img src='images/go.png' width="160">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>

            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://openreview.net/forum?id=oyUiJmkD7H">
                <papertitle>Fast and Low-Cost Genomic Foundation Models via Outlier Removal</papertitle>
              </a>
              <br>
              <strong>Haozheng Luo*</strong>, Chenghao Qiu*, Maojiang Su, Zhihan Zhou, Zoe Mehta, Guo Ye, Jerry Yao-Chieh Hu, Han Liu, Lizhen Shi, Han Liu,  Zhong Wang
              <br>
              <em>International Conference on Machine Learning (ICML) 2025
              <br>
              <a href="https://openreview.net/forum?id=oyUiJmkD7H">paper</a> /
              <a href="https://github.com/MAGICS-LAB/GERM">code</a> /
              <a href="https://huggingface.co/magicslabnu/GERM">model</a>
              <p></p>
              <p>
                <b>GERM</b> is a genomic foundation model optimized for low-resource settings by removing outliers, enhancing low-rank adaptation and quantization, achieving up to 64.34% efficiency gains and 37.98% better fine-tuning performance over baseline models.
              </p>
            </td>
          </tr> 

    <tr onmouseout="lssr_stop()" onmouseover="lssr_start()" bgcolor="#ffffd0">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="two" id='lssr_image'>
                  <img src='images/dnaberts.png' width="160"></div>
                <img src='images/dnaberts.png' width="160">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="http://usenix.org/conference/usenixsecurity25/presentation/yu-jiahao">
                <papertitle>Mind the Inconspicuous: Revealing the Hidden Weakness in Aligned LLMs' Refusal Boundaries</papertitle>
              </a>
              <br>
              Jiahao Yu*, <strong>Haozheng Luo*</strong>, Jerry Yao-Chieh, Wenbo Guo, Han Liu, Xinyu Xing
              <br>
              <em>USENIX Security Symposium (USENIX Security) 2025
              <br>
              <a href="http://usenix.org/conference/usenixsecurity25/presentation/yu-jiahao">paper</a> /
              <a href="https://github.com/MAGICS-LAB/XLLM">code</a> 
              <p></p>
              <p>
                <b>Mind the Inconspicuous</b> is a study showing that appending multiple \eos tokens triggers context segmentation in aligned LLMs, shifting inputs toward refusal boundaries and enabling jailbreaks, with up to 16× increased attack success rates across 16 models and major APIs like OpenAI and Anthropic.
              </p>
            </td>
          </tr> 




        </tbody></table>
</body>
</div>
