<style>
  .one {
    position: relative;
    display: inline-block;
  }
  
  .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #0b3bbf;
    color: #fff;
    padding: 3px 8px;   /* 比之前小 */
    border-radius: 4px;
    font-size: 11px;     /* 原来 14 → 12 */
    font-weight: 600;
    line-height: 1;
  }
</style>

<div class="container" id="i18_publication">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="publication.my_publication">Publication</span></h1>
        </div>
    </div>
    <body>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
        <tr onmouseout="lssr_stop()" onmouseover="lssr_start()" bgcolor="#ffffd0">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                  <div class="badge">ICLR 2026</div>
                  <img src='images/FROST.png' width="480">
          
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>

            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://openreview.net/forum?id=oyUiJmkD7H">
                <papertitle>FROST: Filtering Reasoning Outliers with Attention for Efficient Reasoning</papertitle>
              </a>
              <br>
              <strong>Haozheng Luo</strong>, Zhuolin Jiang, Md Zahid Hasan, Yan Chen, Soumalya Sarkar
              <br>
              <em>International Conference on Learning Representations (ICLR) 2026
              <br>
              <a href="https://openreview.net/forum?id=a9dngZLqGS">paper</a> /
              <a href="https://github.com/robinzixuan?tab=repositories">code</a> 
              <p></p>
              <p>
                <b>FROST</b> is an attention-aware reasoning framework that identifies and removes reasoning outliers by pruning uncritical attention paths, producing shorter and more reliable reasoning trajectories while preserving reasoning capacity.
              </p>
            </td>
          </tr> 
        
  
  
        <tr onmouseout="lssr_stop()" onmouseover="lssr_start()" bgcolor="#ffffd0">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="badge">NeurIPS 2025</div>
                <img src='images/rythem.png' width="480">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://openreview.net/forum?id=DCvCv02uNf">
                <papertitle>RHYTHM: Reasoning with Hierarchical Temporal Tokenization for Human Mobility</papertitle>
              </a>
              <br>
              Haoyu He*, <strong>Haozheng Luo*</strong>, Yan Chen, Qi R. Wang
              <br>
              <em> Advances in Neural Information Processing Systems 39 (NeurIPS) 2025
              <br>
              <a href="https://openreview.net/forum?id=1v0ULVJOZ9">paper</a>  /
               <a href="https://github.com/he-h/rhythm">code</a> 
              <p></p>
              <p>
                 RHYTHM is a framework that uses hierarchical temporal tokenization and frozen LLMs to efficiently model human mobility, achieving 2.4% higher accuracy (5.0% on weekends) and 24.6% faster training by capturing spatio-temporal dependencies with reduced sequence lengths and enriched prompt embeddings.
              </p>
            </td>
          </tr> 
    
          <tr onmouseout="lssr_stop()" onmouseover="lssr_start()" bgcolor="#ffffd0">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                  <div class="badge">ICML 2025</div>
                  <img src='images/GERM.png' width="480">
          
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>

            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://openreview.net/forum?id=oyUiJmkD7H">
                <papertitle>Fast and Low-Cost Genomic Foundation Models via Outlier Removal</papertitle>
              </a>
              <br>
              <strong>Haozheng Luo*</strong>, Chenghao Qiu*, Maojiang Su, Zhihan Zhou, Zoe Mehta, Guo Ye, Jerry Yao-Chieh Hu, Han Liu
              <br>
              <em>International Conference on Machine Learning (ICML) 2025
              <br>
              <a href="https://openreview.net/forum?id=oyUiJmkD7H">paper</a> /
              <a href="https://github.com/MAGICS-LAB/GERM">code</a> /
              <a href="https://huggingface.co/magicslabnu/GERM">model</a>
              <p></p>
              <p>
                <b>GERM</b> is a genomic foundation model optimized for low-resource settings by removing outliers, enhancing low-rank adaptation and quantization, achieving up to 64.34% efficiency gains and 37.98% better fine-tuning performance over baseline models.
              </p>
            </td>
          </tr> 

    <tr onmouseout="lssr_stop()" onmouseover="lssr_start()" bgcolor="#ffffd0">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="badge">USENIX Security 2025</div>
                <img src='images/BOOST.png' width="480">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="http://usenix.org/conference/usenixsecurity25/presentation/yu-jiahao">
                <papertitle>Mind the Inconspicuous: Revealing the Hidden Weakness in Aligned LLMs' Refusal Boundaries</papertitle>
              </a>
              <br>
              Jiahao Yu*, <strong>Haozheng Luo*</strong>, Jerry Yao-Chieh, Yan Chen, Wenbo Guo, Han Liu, Xinyu Xing
              <br>
              <em>USENIX Security Symposium (USENIX Security) 2025 <strong>(Long Talk)</strong>
              <br>
              <a href="https://www.usenix.org/system/files/usenixsecurity25-yu-jiahao.pdf">paper</a> /
              <a href="https://github.com/MAGICS-LAB/XLLM">code</a> 
              <p></p>
              <p>
                <b>Mind the Inconspicuous</b> is a study showing that appending multiple \eos tokens triggers context segmentation in aligned LLMs, shifting inputs toward refusal boundaries and enabling jailbreaks, with up to 16× increased attack success rates across 16 models and major APIs like OpenAI and Anthropic.
              </p>
            </td>
          </tr> 

    <tr onmouseout="lssr_stop()" onmouseover="lssr_start()">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                
                <img src='images/geno.png' width="480">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://arxiv.org/pdf/2505.10983">
                <papertitle>GenoArmory: A Unified Evaluation Framework for Adversarial Attacks on Genomic Foundation Models</papertitle>
              </a>
              <br>
              <strong>Haozheng Luo*</strong>, Chenghao Qiu*, Yimin Wang, Shang Wu, Jiahao Yu, Han Liu, Binghui Wang, Yan Chen
              <br>
              <em> Preprint, 2025
              <br>
              <a href="https://arxiv.org/pdf/2505.10983">paper</a> /
              <a href="https://github.com/MAGICS-LAB/GenoArmory">code</a> /
              <a href="https://huggingface.co/datasets/magicslabnu/GenoAdv">datasets</a> /    
              <p></p>
              <p>
                GenoArmory is the first unified adversarial attack benchmark for Genomic Foundation Models (GFMs), offering a comprehensive framework and the GenoAdv dataset to evaluate model vulnerabilities across architectures, quantization, and tasks, revealing that classification GFMs are more robust than generative ones and that attacks often target biologically meaningful regions.
 
              </p>
            </td>
          </tr> 
    <tr onmouseout="lssr_stop()" onmouseover="lssr_start()">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">

                <img src='images/dapa.png' width="480">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://openreview.net/forum?id=p5zaXPgMvh">
                <papertitle>Knowledge‑Distilled Memory Editing for Plug‑and‑Play LLM Alignment</papertitle>
              </a>
              <br>
              <strong>Haozheng Luo*</strong>, Jiahao Yu*, Wenxin Zhang*, Jialong Li, Jerry Yao-Chieh Hu, Yan Chen, Binghui Wang, Xinyu Xing, Han Liu
              <br>
              <em> Workshop on MemFM @ ICML 2025
              <br>
              <a href="https://openreview.net/forum?id=p5zaXPgMvh">paper</a> /
              <a href="https://github.com/MAGICS-LAB/DAPA">code</a> 
              <p></p>
              <p>
                 We propose a low-resource method to align LLMs for safety by distilling alignment-relevant knowledge from well-aligned models and identifying essential components via delta debugging, enabling plug-and-play integration into unaligned LLMs.
 
              </p>
            </td>
          </tr> 

    
    
    <tr onmouseout="lssr_stop()" onmouseover="lssr_start()" bgcolor="#ffffd0">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="badge">Information Systems</div>
                <img src='images/SMUTF.png' width="480">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://www.sciencedirect.com/science/article/abs/pii/S0306437925000547?casa_token=lmT7m8-i3KwAAAAA:6Y20g4ZMUHBxqfi5Zjo5MZRC-NlXuGDTptrWV7vP6kXXGRB2lKdFwcBpVcntruaIMXuxB7sbCJE">
                <papertitle>SMUTF: Schema Matching Using Generative Tags and Hybrid Features</papertitle>
              </a>
              <br>
              Yu Zhang*, Mei Di*, <strong>Haozheng Luo*</strong>, Chenwei Xu, Richard Tzong-Han Tsai
              <br>
              <em> Information Systems Volume 133, 2025
              <br>
              <a href="https://www.sciencedirect.com/science/article/abs/pii/S0306437925000547?casa_token=lmT7m8-i3KwAAAAA:6Y20g4ZMUHBxqfi5Zjo5MZRC-NlXuGDTptrWV7vP6kXXGRB2lKdFwcBpVcntruaIMXuxB7sbCJE">paper</a> /
              <a href="https://github.com/MAGICS-LAB/SMUTF">code</a> 
              <p></p>
              <p>
                 <b>SMUTF</b> is a schema matching framework that combines rule-based features, pre-trained and generative LLMs with novel “generative tags” to enable effective cross-domain matching, achieving up to 11.84% F1 and 5.08% AUC gains over SOTA, with the new HDXSM dataset released to support large-scale open-domain schema matching.
 
              </p>
            </td>
          </tr> 

    <tr onmouseout="lssr_stop()" onmouseover="lssr_start()" bgcolor="#ffffd0">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="badge">ICLR 2025</div>
                <img src='images/CoA.png' width="480">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://openreview.net/forum?id=1BdPHbuimc">
                <papertitle>Chain-of-action: Faithful and Multimodal Question Answering through Large Language Models</papertitle>
              </a>
              <br>
              Zhenyu Pan, <strong>Haozheng Luo</strong>, Manling Li, Han Liu
              <br>
              <em> International Conference on Learning Representations (ICLR) 2025
              <br>
              <a href="https://openreview.net/forum?id=1BdPHbuimc">paper</a> /
              <a href="https://github.com/MAGICS-LAB/Chain-of-Actions">code</a> 
              <p></p>
              <p>
                 <b>CoA</b> is a Chain-of-Action framework for multimodal and retrieval-augmented QA that decomposes complex questions into reasoning steps with plug-and-play retrieval actions, reducing hallucinations and token usage while improving reasoning and factual accuracy across benchmarks and a Web3 case study.
 
              </p>
            </td>
          </tr> 

    <tr onmouseout="lssr_stop()" onmouseover="lssr_start()" bgcolor="#ffffd0">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="badge">ICML 2024</div>
                <img src='images/out.png' width="480">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://openreview.net/forum?id=kLiDMGJKx1">
                <papertitle>Outlier Efficient Modern Hopfield Model for Large Transformer-Based Models</papertitle>
              </a>
              <br>
              Jerry Yao-Chieh Hu*, Pei-Hsuan Chang*, <strong>Haozheng Luo*</strong>, Hong-Yu Chen, Weijian Li, Wei-Po Wang, Han Liu
              <br>
              <em> International Conference on Machine Learning (ICML) 2024
              <br>
              <a href="https://openreview.net/forum?id=kLiDMGJKx1">paper</a> /
              <a href="https://github.com/MAGICS-LAB/OutEffHop">code</a> /
              <a href="https://huggingface.co/collections/magicslabnu/outeffhop-6610fcede8d2cda23009a98f">model</a>    
              <p></p>
              <p>
                 We debut an outlier-efficient modern Hopfield model, OutEffHop, providing robust outlier-reduction for large transformer-based models from associative memory models.
 
              </p>
            </td>
          </tr> 



     <tr onmouseout="lssr_stop()" onmouseover="lssr_start()">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">

                <img src='images/sparq.png' width="480">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://openreview.net/forum?id=kZBM2UYiQh">
                <papertitle>Fast Adaptation and Robust Quantization of Multi-Modal Foundation Models from Associative Memory - A Case Study in SpeechLM Authors</papertitle>
              </a>
              <br>
              Shang Wu*, Yen-Ju Lu*, <strong>Haozheng Luo*</strong>, Jerry Yao-Chieh Hu, Jiayi Wang, Najim Dehak, Jesus Villalba, Han Liu
              <br>
              <em> Workshop on Efficient Systems for Foundation Models II@ ICML2024
              <br>
              <a href="https://openreview.net/forum?id=kZBM2UYiQh">paper</a> 
   
              <p></p>
              <p>
                 SpARQ is an outlier-free SpeechLM framework that replaces attention with a stabilized layer to mitigate performance drops from cross-modal low-rank adaptation and quantization, achieving 41% and 45% relative improvements respectively, plus 1.33× faster training on OPT-1.3B across ASR, TTS, and multi-modal tasks.
              </p>
            </td>
          </tr> 
                  
     <tr onmouseout="lssr_stop()" onmouseover="lssr_start()">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="badge">RO-MAN 2023</div>
                <img src='images/open.png' width="320">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10309342">
                <papertitle>Open-Ended Multi-Modal Relational Reasoning for Video Question Answering</papertitle>
              </a>
              <br>
              <strong>Haozheng Luo*</strong>, Ruiyang Qin*, Chenwei Xu, Guo Ye, Zening Luo
              <br>
              <em> IEEE International Conference on Robot and Human Interactive Communication (RO-MAN) 2023
              <br>
              <a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10309342">paper</a> /
              <a href="https://github.com/robinzixuan/Video-Question-Answering-HRI">code</a> 
              <p></p>
              <p>
                We introduce a robotic agent that combines video recognition and language models to assist users through language-based interactions in video scenes, showing improved human-robot interaction efficiency and achieving 2–3% gains over benchmark methods.
 
              </p>
            </td>
          </tr> 
    
    <tr onmouseout="lssr_stop()" onmouseover="lssr_start()">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="badge">ICMLA 2022</div>
                <img src='images/IGN.png' width="480">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://ieeexplore.ieee.org/abstract/document/10069446">
                <papertitle>IGN: Implicit Generative Networks</papertitle>
              </a>
              <br>
              <strong>Haozheng Luo</strong>, Tianyi Wu, Feiyu Han, Zhijun Yan
              <br>
              <em> IEEE International Conference on Machine Learning and Applications (ICMLA) 2022
              <br>
              <a href="https://ieeexplore.ieee.org/abstract/document/10069446">paper</a> /
              <a href="https://github.com/robinzixuan/IGN-Implicit-Generative-Networks">code</a> 
              <p></p>
              <p>
                IGN is a distributional reinforcement learning model that integrates GAN-based quantile regression with IQN, achieving state-of-the-art performance and risk-sensitive policy optimization across 57 Atari games.
 
              </p>
            </td>
          </tr> 


    <tr onmouseout="lssr_stop()" onmouseover="lssr_start()">
            <td style="padding:20px;width:25%;vertical-align:middle">
              <div class="one">
                <div class="badge">FICC 2022</div>
                <img src='images/qa.png' width="320">
              </div>
              <script type="text/javascript">
                function lssr_start() {
                  document.getElementById('lssr_image').style.opacity = "1";
                }

                function lssr_stop() {
                  document.getElementById('lssr_image').style.opacity = "0";
                }
                lssr_stop()
              </script>
            </td>


            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://link.springer.com/chapter/10.1007/978-3-030-73103-8_32">
                <papertitle>Question Classification with Deep Contextualized Transformer</papertitle>
              </a>
              <br>
              <strong>Haozheng Luo</strong>, Ningwei Liu, Charles Feng
              <br>
              <em> Future of Information and Communication Conference (FICC) 2022
              <br>
              <a href="https://link.springer.com/chapter/10.1007/978-3-030-73103-8_32">paper</a> 
              <p></p>
              <p>
                We present a Deep Contextualized Transformer model that enhances QA classification by handling aberrant expressions, achieving up to 83.1% accuracy on SQuAD and SwDA datasets—outperforming prior models for industry-level QA tasks.
              </p>
            </td>
          </tr> 




        </tbody></table>
</body>
</div>
