<div class="container" id="i18_news">
  <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1><span data-i18n="news.my_news">Service</span></h1>
      </div>
  </div>
  
  

  <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
    <ul>
    <li><b>Teaching:</b>
        <ul>
             <li><b>[Witer 2026]</b> TA, <i>Game Development Studio</i> (COMP_SCI 377), Northwestern University.</li>
            <li><b>[Fall 2025]</b> TA, <i>Internet Security</i> (COMP_SCI 450), Northwestern University.</li>
            <li><b>[Fall 2025]</b> TA, <i>Machine Learning</i> (COMP_SCI 348), Northwestern University.</li>
            <li><b>[Winter 2025]</b> TA, <i>Programming Massively Parallel Processors with CUDA</i> (COMP_SCI 368), Northwestern University.</li>
            <li><b>[Spring 2024]</b> TA, <i>Fundamentals of Computer Programming 1.5</i> (COMP_SCI 150), Northwestern University.</li>
            <li><b>[Winter 2024]</b> TA, <i>Introduction to Artificial Intelligence</i> (COMP_SCI 348), Northwestern University.</li>
            <li><b>[Fall 2023]</b> TA, <i>Generative Methods</i> (COMP_SCI 327), Northwestern University.</li>
            <li><b>[Spring 2021]</b> TA, <i>Modeling and Simulation</i> (CSE 6730), Georgia Institute of Technology.</li>
            <li><b>[Fall 2020]</b> TA, <i>Computational Data Analysis</i> (CSE 6740), Georgia Institute of Technology.</li>
        </ul>
    </li>
    <li><b>Program Chair:</b> ICLR 2026 ES-Reasoning, COLM 2026 Efficient Reasoning </li>
    <li><b>Reviewer:</b> WWW 2020, NAACL 2024/2025, ACL 2020/2023/2024/2025, EMNLP 2023/2024, MLIS 2023, AIM 2024, NeurIPS 2024/2025/2026, ICLR 2025/2026, ICML 2025/2026, AAAI 2026, ACL-ARR (DOA).</li>
    <li><b>Program Committee:</b> EMNLP Industry Track 2023/2025.</li>
    <li><b>Journal Reviewer:</b> TMLR </li>  
</ul>

  <script>
  function openNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "280px";
          document.getElementById("layout-content-container").style.marginLeft = "280.8px";
          document.getElementById("layout-content-container").style.position = "fixed";
      }
  }
  function closeNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "0";
          document.getElementById("layout-content-container").style.position = "static";
          document.getElementById("layout-content-container").style.marginLeft = "0px";
          setInterval(
              function(){ location.reload() },
              500
          );
      }
  }
  </script>
</div>
<br>
