<div class="container" id="i18_news">
  <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1><span data-i18n="news.my_news">Service</span></h1>
      </div>
  </div>
  
  

  <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
    <ur>
      <li><b>Teaching</b> 
        <ur>
          <li>
            [Winter 2025]  TA, "Programming Massively Parallel Processors with CUDA" (COMP_SCI 368), Northwestern University CS.
            [Spring 2024] TA, "Fundamentals of Computer Programming 1.5" (COMP_SCI 150), Northwestern University CS.
            [Winter 2024] TA, "Intro to Artificial Intelligence" (COMP_SCI 348), Northwestern University CS.
            [Fall 2023] TA, "Generative Methods" (COMP_SCI 327), Northwestern University CS.
            [Spring 2021] TA, "Modeling and Simulation" (CSE 6730), Georgia Institute of Technology CS.
            [Fall 2020] TA, "Computational Data Analy" (CSE 6740), Georgia Institute of Technology CS.
          </li>
        </ur>
      </li>
      <li><b>Reviewer:</b> WWW2020, ACL2020/2023, EMNLP 2023/2024, MLIS2023, AIM 2024, Neurips2024, ICLR 2025, ICML2025, ACL-ARR (DOA) </li>
      <li><b>Program Committe:</b> EMNLP Industry Track 2023</li>
    </ur>
  </div>
  <script>
  function openNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "280px";
          document.getElementById("layout-content-container").style.marginLeft = "280.8px";
          document.getElementById("layout-content-container").style.position = "fixed";
      }
  }
  function closeNav() {
      if (window.innerWidth <= 1200) {
          document.getElementById("layout-menu").style.width = "0";
          document.getElementById("layout-content-container").style.position = "static";
          document.getElementById("layout-content-container").style.marginLeft = "0px";
          setInterval(
              function(){ location.reload() },
              500
          );
      }
  }
  </script>
</div>
<br>
